PROXMOX_URL=https://proxmox.example.com:8006/
PROXMOX_TOKEN_ID=root@pam!o4p
PROXMOX_TOKEN_SECRET=changeme
PROXMOX_TLS_INSECURE=false
PROXMOX_CLIENT_TAG=cliente
PROXMOX_HIDDEN_TAGS=mgmt,infra
PROXMOX_TARGET_STORAGE=local-zfs
LDAP_URL=ldap://lldap_server:3890
LDAP_BASE_DN=dc=example,dc=com
LDAP_BIND_DN=uid=admin,ou=people,dc=example,dc=com
LDAP_BIND_PASSWORD=changeme
LDAP_REQUIRED_GROUP=
JWT_SECRET=changeme-long-random
SESSION_TTL=8h
PORT=8080
